<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<a>ID:</a>
<a th:text="${car.getId()}">V1ALUE</a>
<br/>
<a>Name:</a>
<a th:text="${car.getName()}">V1ALUE</a>
<br/>
<a>Power:</a>
<a th:text="${car.getPower()}">V1ALUE</a>
<br/>
<a>Color:</a>
<a th:text="${car.getColor()}">V1ALUE</a>
<br/>
<hr/>
<a th:href="@{/{id}/edit(id=${car.getId()})}">Edit!</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/{id}(id=${car.getId()})}">
    <input type ="submit" value="DELETE"/>
</form>
</body>
</html>